{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'relocations/style.css' %}">

{% block content %}
<table class="table">
  <tr>
    <th>제목</th>
    <th>경로</th>
    <th>작성자</th>
    <th>업로드 날짜</th>
    <th>조회수</th>
  </tr>
  {% for information in content_info_list %}
    <tr>
      <td class="title">{{ information.content_name }}</td>
      <td>{{ information.content_file }}</td>
      <td>{{ information.content_author }}</td>
      <td>{{ information.upload_date|date:"y-m-d, H:i:s" }}</td>
      <td>{{ information.counts }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
